*{
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	font-weight: 300;
	transition: all 0.13s;
}

li{list-style-type: none;}
span.icon{font-family: FontAwesome;}
//html { overflow:  hidden; }

@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url('../fonts/Roboto-Thin_0.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 100;  /* Вес */
   }
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url('../fonts/Roboto-Light_0.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 200;  /* Вес */
   }
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url('../fonts/Roboto-Regular_0.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 300;  /* Вес */
   }
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url('../fonts/Roboto-Medium_0.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 400;  /* Вес */
   }
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url('../fonts/Roboto-Bold_0.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 500;  /* Вес */
   }
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url('../fonts/Roboto-Black_0.ttf'); /* Путь к файлу со шрифтом */
    font-weight: 600;  /* Вес */
   }
   @font-face {
    font-family: FontAwesome; /* Имя шрифта */
    src: url('../fonts/fontawesome-webfont_0.ttf'); /* Путь к файлу со шрифтом */
   }


div.first-screen{
	background-color: #efb44e;
	animation: background 15s infinite ;
	color: #fff;
	box-shadow: 0 0 65px rgba(0,0,0,0.4);
}



header{
	padding-top: 20px;
	margin-bottom: 55px;
}
img.menu{height: 40px;}
span.icon{font-family: FontAwesome;}
a.sm{
	color: #fff;
	text-decoration: none;
	float: right;
	margin-left: 16px;
	font-size: 20px;
	line-height: 20px;
	margin-top: 7px;
}
a.sm:hover{
	color: #fff;
	text-decoration: none;
}

div.align{text-align: center;}
a.menu{
	font-size: 14px;
	display: block;
	padding: 9px 10px;
	margin: 0px 10px;
	color: #fff;
	text-decoration: none;
	font-weight: 100;
}
a.menu:hover{
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
a.active{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	font-weight: 300;
}
ul.menu{margin-bottom: 0;}
li.menu{
	display: inline-block;
	color: #fff;
}



div.offer{
	padding: 60px 0 70px 0;
	text-align: center;
}
img.offer{
	box-shadow: 0 0 45px rgba(0,0,0,0.3);
	border-radius: 100px;
}
h3.offer{
	font-size: 42px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 15px 0 0 0;
}
span.offer{
	font-size: 15px;
	font-weight: 200;
}


a#button{
	animation: but 3s ease-in-out infinite;
	margin-top: 20px;
	display: inline-block;
	padding: 10px 40px;
	font-size: 16px;
	font-weight: 100;
	border: 1px double #fff;
	color: #fff;
	text-decoration: none;
}
a#button:hover{
	animation: none;
	//background: #fff;
	//color: #EF9365;
	text-decoration: none;
	border-radius: 50px;
}




section.works{
	padding: 70px 0;
	text-align: center;
}
h3.title{
	font-size: 30px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}


div.work{
	width: 90%;
	margin-left: 5%;
	height: 140px;
	background: #333;
	box-shadow: 0 0 50px rgba(0,0,0,0.2);
	margin-top: 30px;
}

div.work:hover{
	box-shadow:0 0 0 100px rgba(0, 0, 0, 0.7) inset;
}
div.work:hover div.about{
	display: flex;
}


div.about{
	color: #fff;
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px 30px 30px 30px;
}
h4.work{
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.5px;
	display: block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a.no-dec:hover{text-decoration: none;}


div.w1{
	background: url('../img/1.jpg');
	background-size: cover;
}
div.w2{
	background: url('../img/2.jpg');
	background-size: cover;
}
div.w3{
	background: url('../img/3.jpg');
	background-size: cover;
}
div.w4{
	background: url('../img/4.jpg');
	background-size: cover;
}
div.w5{
	background: url('../img/5.jpg');
	background-size: cover;
}
div.w6{
	background: url('../img/6.png');
	background-size: cover;
}
div.w7{
	background: url('../img/7.png');
	background-size: cover;
}
div.w8{
	background: url('../img/8.png');
	background-size: cover;
}
div.w9{
	background: url('../img/9.png');
	background-size: cover;
}



section#contacts{
	text-align: center;
	background: #eeeeee;
	margin: 0;
	padding: 70px 0;
}


div.icon{
	width: 16%;
	min-width: 50px;
	height: 50px;     /*   ИКОНКА 40х40   */
	background: #333;
	display: inline-block;
	padding: 10px;
	//z-index: 10;
	float: left;
}
a.vk:hover div.vk{background: #507299;}
a.inst:hover div.inst{background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }
div.whatsapp:hover div.whatsapp{background: #25d366;}
div.skype:hover div.skype{background: #00AFF0;}
div.mail:hover div.mail-in{background: #FFAF00;}
a.star:hover div.star{background: #5AA000; }

div.contacts{margin-top: 30px;}
div.hrefff{
	font-size: 17px;
	width: 84%;
	background: #fff;
	color: #333;
	height: 50px;
	//z-index: 1;
	//padding: 0 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;

}
div.op{
	text-align: center;
	padding: 20px 0;
	color: #fff;
}



















































































































































@keyframes but {
	0%{
		border-radius: 5px 5px 5px 5px;
	}
	46%{
		border-radius: 5px 5px 5px 5px;
	}
	50%{
		border-radius: 40px 40px 40px 40px;
	}
	54%{
		border-radius: 5px 5px 5px 5px;
	}
	58%{
		border-radius: 40px 40px 40px 40px;
	}
	62%{
		border-radius: 5px 5px 5px 5px;
	}
	100%{
		border-radius: 5px 5px 5px 5px;
	}
}

@keyframes background {
	0%{
		background-color: #f2ae5d;
	}
	25%{
		background-color: #f25d5d;
	}
	50%{
		background-color: #b44ae5;
	}
	75%{
		background-color: #4a84e5;
	}
	100%{
		background-color: #f2ae5d;
	}
}

/*
#EFB44E
#EF7878
#7781FF
#6EE8A3
/*  АДАПТИВ - АДАПТИВ - АДАПТИВ - АДАПТИВ - АДАПТИВ - АДАПТИВ  *//*
@media  only screen and (min-height: 0px) and (max-height: 469px){
	header{height: 427px;}
	div.menu{margin: 0px 0;}
}
@media  only screen and (min-height: 470px){
	header{height: 447px;}
	div.menu{margin: 10px 0;}
}
@media  only screen and (min-height: 500px){
	header{height: 467px;}
	div.menu{margin: 20px 0;}
}
@media  only screen and (min-height: 540px){
	header{height: 507px;}
	div.menu{margin: 40px 0;}
}
@media  only screen and (min-height: 580px){
	header{height: 547px;}
	div.menu{margin: 60px 0;}
}
@media  only screen and (min-height: 620px){
	header{height: 587px;}
	div.menu{margin: 80px 0;}
}
@media  only screen and (min-height: 660px){
	header{height: 627px;}
	div.menu{margin: 100px 0;}
}
@media  only screen and (min-height: 700px){
	header{height: 667px;}
	div.menu{margin: 120px 0;}
}
@media  only screen and (min-height: 740px){
	header{height: 707px;}
	div.menu{margin: 140px 0;}
}
@media  only screen and (min-height: 780px){
	header{height: 687px;}
	div.menu{margin: 130px 0;}
}
@media  only screen and (min-height: 800px){
	header{height: 707px;}
	div.menu{margin: 140px 0;}
}
@media  only screen and (min-height: 900px){
	header{height: 727px;}
	div.menu{margin: 150px 0;}
}
@media  only screen and (min-height: 1000px){
	header{height: 807px;}
	div.menu{margin: 190px 0;}
}
@media  only screen and (min-height: 1100px){
	header{height: 887px;}
	div.menu{margin: 230px 0;}
}
@media  only screen and (min-height: 1200px){
	header{height: 967px;}
	div.menu{margin: 270px 0;}
}


@media  only screen and (min-width: 0px) and (max-width: 991px){
	header{height: 410px; padding-top: 20px;}
	div.menu{margin: 10px 0;}
	div.left{position: static;}
	html {overflow-y: auto; overflow-x: hidden;}
	div.b, div.sidebar{height: 417px;}
	div.footer{display: none;}
}

*/